<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap" />
            </svg>
            <span class="fs-4">Sample Project</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a routerLink='home' class="nav-link active">Home</a></li>
            <li class="nav-item"><a routerLink='about' class="nav-link">About</a></li>
            <li class="nav-item"><a routerLink='users' class="nav-link">Users</a></li>
            <li class="nav-item"><a routerLink='employees' class="nav-link">Employees</a></li>
            <li class="nav-item"><a routerLink='contact' class="nav-link">Contact</a></li>
        </ul>
    </header>
</div>

<div class="b-example-divider"></div>

<main class="container" style="text-align: center;">
    <div class="bg-light p-5 rounded">
        <router-outlet>
            <!-- All Views or Components will be rendered here.. -->
        </router-outlet>

    </div>
</main>